<header class="header_in is_fixed menu_fixed">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <div id="logo">
          <a href="/">
            <img src="/img/logo_sticky.png" width="140" height="35" alt="" class="logo_sticky">
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-12">
        <ul id="top_menu">
          <li><a href="<%= school ? `/schools/${school.id}/create` : '/schools' %>" class="btn_top">Rate <%= school ? 'this' : 'a' %> School</a></li>
          <% if (user) { %>
            <li>
              <div class="dropdown dropdown-user">
                <a href="#0" class="logged" data-bs-toggle="dropdown"><img src="/img/avatar4.jpg" alt=""></a>
                <div class="dropdown-menu">
                  <ul>
                    <li><a href="/user/dashboard">My Reviews</a></li>
                    <li><a href="/user/settings">My Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                  </ul>
                </div>
              </div>
            </li>
          <% } else{ %>
            <li><a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In<a></li>
          <% }%>
        </ul>
        <!-- /top_menu -->
        <a href="#menu" class="btn_mobile">
          <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </a>
        <!-- /btn_mobile -->
        <nav id="menu" class="main-menu">
          <ul>
            <li><span><a href="/">Home</a></span>
            </li>
            <li><span><a href="/schools">Schools</a></span>
            </li>
            <li><span><a href="/mission">Our Mission</a></span></li>
            <li><span><a href="#">Account</a></span>
              <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup.html">Sign Up</a></li>
                <li><a href="/user/dashboar">User Dashboard</a></li>
                <li><a href="/user/settings">User Settings</a></li>
              </ul>
            </li>
            <li class="d-block d-sm-none"><span><a href="/schools" class="btn_top">Rate a School</a></span></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->		
</header>
<!-- /header -->
